<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet" type="text/css" href="v3_style.css" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="ie.css" />
<![endif]-->
<script language="javascript" type="text/javascript" src="iepngfix/iepngfix_tilebg.js"></script>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%" height="100%" class="container_table"><tr><td>
<table cellpadding="0" cellspacing="0" width="100%" height="100%" class="i_container_table">
  <tr>
    <td valign="top" class="upper_td"><img src="img/upper.jpg" border="0" alt="" /></td>
  </tr>
  <tr>
    <td class="main_td pngfix" valign="top"><div class="content"><div class="phone">(044) 123-45-67<span class="mail"><a href="#" class="pngfix"><img src="img/mail.png" border="0" alt="" /></a></span></div>
      <div class="txt_outer pngfix">
      <div class="txt">
      <div class="pagetitle">title</div>
      <div class="pagetext">text</div>
      </div>
      </div>
    </div></td>
  </tr>
  <tr>
    <td class="footer_td" valign="bottom">&nbsp;</td>
  </tr>
</table>
</td></tr></table>
<div class="under">
<div class="menu"><a href="#" class="about inline_block pngfix">о нас</a><a href="#" class="services inline_block pngfix">услуги</a><a href="#" class="price inline_block pngfix">цены</a></div>
<div class="footer">
<div class="copyright">©2010 “Чистякоff”. Все права защищены.</div>
<div class="created_by"><a href="http://chipsite.com.ua" target="_blank">Разработка сайта</a> - <a href="http://chipsite.com.ua" target="_blank">ChipSite</a></div>
</div>
</div>
</body>
</html>
